<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAARAAAAAAAAAAEQAAAAAAAAABEAAAAAABEAARAAAAABEAABEAAAAAEQAAEQAAAAAREAERAAAAAAERERAAAAAAABERAAAAAAAAAAAAAAD+fwAA/38AAP//AAD//wAA/v8AAP7/AAD+fwAA/z8AAP+fAAD5zwAA888AAPPPAADxjwAA+B8AAPw/AAD//wAA" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <br/ >
    <br/ >
    <h1> Welcome, friend.</h1>
    <p>October 21st, 1972</p>
    <p>You walk up the gravel steps, the soft crunch underfoot softly interweaving with the muffled sounds of the party up ahead. By the door stands a greeter, their hand outstretched. What is the name on your invitation?</p>
    <br/ >
    <div class="container">
      <form action="/name" method="post" autocomplete="off">
        <div class="centered-form">
          <label>
            <h1 class="label">Invitation:</h1>
            <div>
              <input name="player_name" />
              <br />
              <br />
              <button>Give Name</button>
            </div>
          </label>
        </div>
      </form>
    </div>
    
  </body>
</html>