<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAARAAAAAAAAAAEQAAAAAAAAABEAAAAAABEAARAAAAABEAABEAAAAAEQAAEQAAAAAREAERAAAAAAERERAAAAAAABERAAAAAAAAAAAAAAD+fwAA/38AAP//AAD//wAA/v8AAP7/AAD+fwAA/z8AAP+fAAD5zwAA888AAPPPAADxjwAA+B8AAPw/AAD//wAA" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <br/ >
    <br/ >
    <h1>A strange envelope on your doorstep.</h1>
    <p>Inside is a thick parchment. An invitation. At the bottom, there is a strange code. What is it?</p>
    <br/ >
    <div class="container">
      <form action="/beginning" method="post" autocomplete="off">
        <div class="centered-form">
          <label>
            <h1 class="label">Mysterious Cypher:</h1>
            <div>
              <input name="code" />
              <br />
              <br />
              <button>Submit</button>
            </div>
          </label>
        </div>
      </form>
    </div>
  </body>
</html>