<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAARAAAAAAAAAAEQAAAAAAAAABEAAAAAABEAARAAAAABEAABEAAAAAEQAAEQAAAAAREAERAAAAAAERERAAAAAAABERAAAAAAAAAAAAAAD+fwAA/38AAP//AAD//wAA/v8AAP7/AAD+fwAA/z8AAP+fAAD5zwAA888AAPPPAADxjwAA+B8AAPw/AAD//wAA" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <br/ >
    <br/ >
    <h1> Welcome, {{ name }}.</h1>
    <p>The man gives you a small bow, the corners of his smile peeking out from his lowered head. His fingers hold your invitation back out to you as you enter into the main hall ahead.</p>
  </body>
</html>